@import '../base/variables';
html {
    font-size: 62.5%;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 1rem;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: $color-primary;
    }
}
* {
    font-family: 'Amaranth', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.2s linear;
}
section {
    padding: 5rem 10%;
}
.heading-link {
    text-align: center;

    h3 {
        @include titleText(2.5rem);
    }
    p{
        font-size: 1.5rem;
        text-transform: capitalize;
        color: $color-background;
    }
    a {
        color: $color-primary;

        &:hover {
            text-decoration: underline;
        }
    }
}
.heading {
    text-align: center;
    margin-bottom: 3rem;
    @include titleText(3.5rem)
}
.heading-tile {
    text-align: center;
    margin-bottom: 3rem;
    @include titleText(3.5rem);
    color: $color-background;
}
.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    border: $border;
    background: $color-secondary;
    color: $color-background;
    cursor: pointer;
    text-transform: capitalize;
}

