.account-form {
    position: fixed;
    top: 0;
    right: -105%;
    width: 35rem;
    background: $color-white;
    display: flex;
    flex-flow: column;
    gap: 2rem;
    justify-content: center;
    height: 100%;
    z-index: 1200;
    padding: 2rem;
    align-items: center;
    

    &.active-form {
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
        right: 0;
        background: $color-background;
    }
    
    .close-account {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 4rem;
        cursor: pointer;
        color: $color-back;
    }
    form {
        border: $border;
        padding: 2rem;
        text-align: center;
        display: none;
        margin-top: 2rem;


        &.active {
            display: block;
        }

        h3{
            @include titleText(2.5rem);
            padding-bottom: .5rem;
            text-transform: uppercase;
        }
        .box {
            width: 100%;
            padding: 1.2rem 1.4rem;
            border: $border;
            font-size: 1.6rem;
            margin: .7rem 0;
        }
        .flex {
            padding: 1rem 0;
            display: flex;
            
            gap: .5rem;

            label {
                font-size: 1.5rem;
                color: $color-background;
                cursor: pointer;
            }
            .forgot-password {
                font-size: 1.5rem;
                color: $color-background;
                margin-left: auto;

                &:hover {
                    text-decoration: underline;
                    color: $color-primary;
                }
            }
        }
        .btn {
            width: 100%;
        }
    }
    .buttons .btn {
        margin: 0 .8rem;

        &.active {
            background: $color-secondary;
        }
    }
}