.contact {
    .icons-container {
        margin-bottom: 3rem;
        @include grid(25rem);
        .icons {
            text-align: center;
            padding: 3rem 2rem;
            border: $border;
            background: $color-secondary;
            .icons-link {
                height: 6rem;
                width: 6rem;
                line-height: 5rem;
                font-size: 1.5rem;
                border-radius: 50%;
                margin-bottom: 0.5rem;
                color: $color-white;
                background: $color-secondary;
            }
            h3 {
                @include titleText(2rem);
                padding: .5rem 0;
            }
            p {
                @include graphText(1.5rem)
            }
        }
    }
    .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;

        .image {
            flex: 1 1 40rem;
            img {
                width: 100%;
            }
        }
        form {
            flex: 1 1 40rem;
            border: $border;
            padding: 2rem;
            h3 {
                @include titleText(2.5rem);
                padding-top: 1rem;
            }
            .box {
                width: 100%;
                padding: 1.2rem 1.4rem;
                border: $border;
                font-size: 1.6rem;
                margin: .7rem 0;

                &:focus {
                    background: $color-secondary;
                    color: $color-white;

                    &::placeholder {
                        color: $color-back;
                    }
                }
            }
            textarea {
                height: 15rem;
                resize: none;
            }
        }
    }
}