.faq {
    .accordion-container {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        align-items: flex-start;
        .accordion {
            flex: 1 1 40rem;
            border: $border;
            &.active {
                .accordion-heading {
                    background: $color-secondary;
                    h3 {
                        color: $color-white;
                    }
                    .angle-down {
                        color: $color-white;
                        transform: rotate(180deg);
                    }
                }
                .accordion-content {
                    display: block;
                }
            }
            .accordion-heading {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;
                cursor: pointer;
                padding: 1.5rem;

                h3 {
                    @include titleText(2rem);
                }
                .angle-down {
                    font-size: 2rem;
                    color: $color-secondary;

                }
            }
            .accordion-content {
                padding: 1.5rem;
                @include graphText(1.5rem);
                border-top: $border;
                display: none;
            }
        }
    }
}