.subjects {
    .box-container {
        
      @include grid(16rem);
      .box{
        border-radius: 20%;
        padding: 3rem 2rem;
        text-align: center;
        border: $border;
        background: $color-secondary;
        cursor: pointer;
        margin-left: 2rem;
        height: 22rem;

        &:hover {
            background: $color-primary;
            h3 {
                color: $color-white;
            }
            p {
                color: $color-white;
            }
        }

        img {
            height: 10rem;
            margin-bottom: 0.7rem;
        }
        h3 {
            @include titleText(1.7rem);
            padding: .5rem 0;
            color: $color-white;
        }
        p {
            font-size: 1.5rem;
            line-height: 2;
            color: $color-white;
        }
      }
    }
  }