    /* font-family: 'Amaranth', sans-serif; */
    /* font-family: 'Josefin Slab', serif;  */
    // $color-primary: #57BC90;
    // $color-secondary: #015249;
    // $color-success: #E5F7E4;
    // $color-background: #B5CE99;
$color-primary: #0B3C5D;
$color-secondary: #02022D;
$color-background: #1D2731;
$color-general: #fed700;
$color-back: #1D2731;
$color-white: #FFFFFF;
$border: .1rem solid $color-secondary;
$box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);

// Fuentes


$regular : 400;
$bold: 700;

