.about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;

    .image {
        flex: 1 1 40rem;

        img {
            width: 100%;
        }
    }
    .content {
        flex: 1 1 40rem;

        .about-title {
            @include titleText(2.5rem);
        }
        p {
            @include graphText(1.5rem);
            padding: 1rem 0;
            color: $color-background;
        }
        .icons-container {
            margin-top: 1rem;
            @include grid(16rem);
            gap: .6rem;

            .icons {
                text-align: center;
                border: $border;
                background: $color-secondary;
                padding: 3rem 2rem;
                img {
                    height: 7rem;
                    margin-bottom: .7rem;
                }
                h3 {
                    padding: .5rem 0;
                    @include titleText(4.5rem);
                }
                span {
                    @include graphText(1.5rem);
                    color: $color-secondary;
                   
                }
            }
        }
    }
}