.footer {
    background: $color-background;

    .box-container {
        @include grid(25rem);
        .box {
            h3{
                @include titleText(2.2rem);
                color: $color-white;
                padding: 1rem 0;
                text-transform: uppercase;
            }
            .share {
                margin-top: 1rem;
            
                .share-social-media {
                    height: 4rem;
                    width: 7rem;
                    background-color: $color-background;
                    color: $color-white;
                    margin-right: .3rem;
                    text-align: center;


                    &:hover {
                        background-color: $color-primary;
                    }
                }
            }
            .footer-link {
                @include graphText(1.7rem);
                color: $color-white;
                padding: .5rem 0;
                display: block;

                &:hover {
                    color: $color-white;;
                    text-decoration: underline;
                }
            }
            p {
                @include graphText(1.5rem);
                padding: 1rem 1.2rem;
                color: $color-white;
            }
            .email {
                width: 100%;
                padding: 1.2rem 1.4rem;
                font-size: 1.6rem;
                border: $border;
                margin-bottom: 1rem;
            }
        }
    }
    .credit {
        text-align: center;
        margin-top: 3rem;
        padding-top: 3rem;
        @include titleText(1.5rem);
        color: $color-white;
        border-top: $border;
    }
}