.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: #fed700;
    box-shadow: $box-shadow;
    padding: 2rem 10%;
    display: flex;
    align-items: center;
    z-index: 1000;

    .logo {
        display: flex;
        margin-right: auto;
        @include titleText(2.5rem);
        font-weight: bold;

        img {
            height: 5rem;
            width: 5rem;
        }
        p {
            font-size: 4rem;
            text-transform: uppercase;
        }
    }
    .icons {
        cursor: pointer;
        color: $color-back;
        margin-left: 2rem;
        .icons-users {
            font-size: 2.5rem;
            &:hover {
                color: $color-secondary;
            }
        }
    }
    #menu-btn {
        display: none;
    }
}


