.navbar {
    position: relative;
    .close-nav {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 4rem;
        cursor: pointer;
        color: $color-back;
        display: none;
    }
    .nav-link {
        margin-right: 2rem;
        @include titleText(2rem);
    
        &:hover {
            color: $color-background;
        }
    }
}
